<form action='/add_listing' method='post'>
  <h3>Please enter your property name</h3>
  <input type= 'text' name= 'property_name'>
  <h3>Please enter your price per night</h3>
  <input type= 'text' name= 'price'>
  <h3>Please enter your available dates</h3>
  <input type= 'date' name= 'available_dates'>
  <h3>Please enter a description</h3>
  <input type= 'text' name= 'description'>
  <input type= 'submit' value = "Submit">
</form>
