<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
<title>Ruby n B</title>
</head>
<center><br>
<h1>Ruby n B</h1>

 <% unless @user %><form action="/register" method="get">
 <input type="submit" value="Sign Up" class = "button" style="border:none">
 </form>
 <form action="/sign_in" method="get">
 <input type="submit" value="Sign In" class = "button" style="border:none">
 </form><% end %>
<form action="/home" method="get">
<input type="submit" value="Browse listing" class = "button" style="border:none">
</form>
</center>
