
<form action='/home' method='post'>
  <h3>Please enter your first name</h3>
  <input type= 'text' name= 'first_name'>
  <h3>Please enter your last name</h3>
  <input type= 'text' name= 'surname'>
  <h3>Please enter your email</h3>
  <input type= 'text' name= 'email'>
  <h3>Please enter a password</h3>
  <input type= 'text' name= 'password'>
  <input type= 'submit' value = "Submit">
</form>
