@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root {
  --background-main: #edf4f7;
  --background-side: #f4f8fa;
  --primary-blue: #32444d;
  --secondary-blue: #b3c3cc;
  --primary-orange: #ff6719;
  --secondary-orange: #feada6;
  --primary-green: #99E8E6;
}


body {
  font-family: Inter;
  font-size: 16px;
  line-height: 1.5;

  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  color: var(--primary-blue);

}

h1 {
  color: white;
  font-size: 60px;
  font-weight: 700;
  text-decoration: underline;
}

h2 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
}

h3 {
  color: white;
}


a {
  color: var(--secondary-orange);
}

a:hover {
  background-color: pink;
}

.button {
  background-color: #E8E7E4;
  color: white;
}

.button:hover {
  background-color: pink;
  color: white;
}
